.container {
    width: 95vw;
    height: auto;
    background: white;
}

.left-container {
    background: url('../img/line-drawing2.jpg') no-repeat;
    background-size: 90%;
    margin-left: 5vw;
    margin-top: 8vh;
    margin-bottom: 10vh;  
}

.right-container {
    text-align: center;
}

.title-aboutme {
    font-family: Stencil Std, fantasy;
    font-size: 4vw;
    position: absolute;
    top: 5vh;
    left: 4vw;
}

.text-aboutme {
    width: 30vw;
    font-family: Stencil Std, fantasy;
    position: relative;
    top: 22vh;
    left: -10vw;
    display: inline-block;
}



