#home {
    height: 100%;
}

.left-home {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'top'
                         'middle'
                         'bottom';
    text-align: center;
}

.title-container-home {
    grid-area: middle;
    position: relative;
}

.title-home {
    color: black;
    font-size: 4.2vw;
    font-weight: 100;
    font-family: Courier, monospace;
    position: absolute;
    top: 10%;
    left: 10%;
    margin: 0;
    z-index: 10;
}

.name-container-home {
    grid-area: bottom;
    position: relative;
}


.name-home {
    font-size: 7vw;
    color: rgba(8, 107, 8, 0.2);
    font-weight: 100;
    font-family: cursive;
    font-style: italic;
    position: absolute;
    top: -75%;
    left: 20%;
    margin: 0;
    z-index: 10;

}

.bee-image-home {
    grid-area: top;
    width: 80%; 
    height: 80%;
    position: absolute;
    bottom: -40%;
    left: 60%;
    background: url('../img/bee-drawing.jpg') no-repeat;
    z-index: 0;
}

.hex-home {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: green;
    height: 22vh;   
    width: 10vw;
}

.right-home {
    padding-top: 8%;
    padding-right: 10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'first-row'
                            'second-row'
                            'third-row'
                            'fourth-row'
                            'fifth-row';
}

.first-row-home {
    position: relative;
    grid-area: first-row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    
}

.second-row-home {
    position: relative;
    grid-area: second-row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    left: -13%;
    top: -15%;
}

.third-row-home {
    position: relative;
    grid-area: third-row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    top: -30%;

}

.fourth-row-home {
    position: relative;
    grid-area: fourth-row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    left: -13%;
    top: -45%;
}

.fifth-row-home {
    position: relative;
    grid-area: fifth-row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    top: -60%;
}


.one-home {
    background: rgba(0, 128, 0, 0.25);
}

.two-home {
    background: url('../img/green1.jpeg') no-repeat;
    background-position: center;
}

.three-home {
    background: rgba(0, 128, 0, 0.1);
}

.four-home {
    background: white;
}

.five-home {
    background: url('../img/green2.jpeg') no-repeat;
    background-position: center;
}

.six-home {
    background: white;
}

.seven-home {
    background:rgba(0, 128, 0, 0.2);
}

.eight-home {
    background:rgba(0, 128, 0, 0.35);
}

.nine-home {
    background: white;
}

.ten-home {
    background:rgba(0, 128, 0, 0.1);
}

.eleven-home {
    background: url('../img/green3.jpeg') no-repeat;
    background-position: center;
}

.twelve-home {
    background:rgba(0, 128, 0, 0.05);
}

.thirteen-home {
    background:rgba(0, 128, 0, 0.2);
}

.fourteen-home {
    background: url('../img/green4.jpeg') no-repeat;
    background-position: left center;
}

.fifteen-home {
    background:rgba(0, 128, 0, 0.4);
}

.sixteen-home {
    background:rgba(0, 128, 0, 0.3);
}

.seventeen-home {
    background:rgba(0, 128, 0, 0.35);
}

.eighteen-home {
    background:rgba(0, 128, 0, 0.1);
}

.nineteen-home {
    background: white;
}

.twenty-home {
    background: url('../img/green5.jpeg') no-repeat;
    background-position: center;
}

.link-home {
    font-family: Courier, monospace;
    font-size: 1.75vw;
}

.link-one-home {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
}

.link-two-home {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
}

.link-three-home {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
}

.link-four-home {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
}

.link-five-home {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
}

.link-one-home:hover {
    cursor: pointer;
    color:white;
}

.link-two-home:hover {
    cursor: pointer;
    color:white;
}

.link-three-home:hover {
    cursor: pointer;
    color:white;
}

.link-four-home:hover {
    cursor: pointer;
    color:white;
}

.link-five-home:hover {
    cursor: pointer;
    color:white;
}





 
