.shape {
    background:rgba(0, 128, 0, 0.2);
    width: 25vw;
    height: 40vh;
    border-radius: 0px 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.shape-content {
    width: 80%;
    position: relative;
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
    color: rgba(0, 0, 0, 0.6);
}

.shape-content h1 {
    font-size: 3vw;
}


.shape-content p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.35vw;
}

.project-desc, .project-link{
    display: none;
}

.shape:hover {
    cursor: pointer;
}
.shape:hover .project-name {
    display: none;
}
.shape:hover .project-desc {
    display: block;
}

.project-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 8vw;
}
.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "one two three"
                        "four five six";
    grid-gap: 2vw;
    padding: 0;
}

.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}


